[submodule "lib/zig-netcode"]
	path = lib/zig-netcode
	url = https://github.com/CuriouserThing/zig-netcode
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/zig-gamedev"]
	path = lib/zig-gamedev
	url = https://github.com/michal-z/zig-gamedev
